@tailwind base;
@tailwind components;
@tailwind utilities;

label {
    color: #9dd81c !important;
  }
  input, textarea {
    color: #0F1729 !important;
  }
  
  .dropdown a.active {
    background-color: #dc124c !important;
  }